In [2]:
import sqlite3
import pandas as pd

In [3]:
conn = sqlite3.connect('mi_base_de_datos.sqlite')

cursor = conn.cursor()

In [17]:
# ATRACCIONES - TERRA MITICA 


# Egipto '03'1
cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                    VALUES ('Puerto de Alejandria',
                    'Familiar',
                    2,
                    '-',
                    0.92,
                    'Disfruta de las vistas desde las naves Seker y Henu, que parten de la orilla egipcia con destino a Iberia. 
                    Una plácida travesía por el mar Mediterráneo en la que entrarás en contacto con los paisajes marítimos del parque y sus costas. 
                    Un paseo panorámico que bien puede servir como una primera toma de contacto con el Parque',
                    'A1',
                    '03', 
                    '031')''') 

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ('Cataratas del Nilo',
                    'Emocionante',
                    6,
                    30,
                    1.20,
                    'Deslízate por una montaña rusa de agua en los sarcófagos del Faraón. 
                    A ti no te embalsamarán, pero te aseguramos que saldrás empapado de esta atracción, especialmente si te sitúas al final del vehículo. 
                    Prepárate para sentir el vértigo en sus dos caídas, la primera desde casi 20 m, y la segunda, de espaldas desde 10 m',
                    'A2',
                    '03', 
                    '031')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Akuatiti",
                    "Infantil",
                    3,
                    "-",
                    0.92,
                    "Los más pequeños también pueden disfrutar de un paseo por las cataratas del Nilo en sarcófagos biplazas. 
                    Pero tranquilos, para que los niños no se asusten, en esta atracción se han suprimido las caídas de su hermana mayor, 
                    y los giros no permiten salir tan empapado",
                    "A3",
                    '03', 
                    '031')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Infinito",
                    "Familiar",
                    6,
                    100,
                    0.92,
                    "Ofrece unas vistas privilegiadas de Terra Mítica, Benidorm y el Mediterráneo, mientras giras y subes",
                    "A4",
                    '03', 
                    '031')''')

# Roma '032'
cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Tornado",
                    "Emocionante",
                    12,
                    80,
                    1.30,
                    "¿Te atreves a desafiar una imponente torre de 80 metros de altura de la que penden sillas voladoras y 
                    que giran sin cesar a distintas alturas e intensidades?",
                    "A13",
                    '03',
                    '032')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Ayquesustus",
                    "Infantil",
                    5,
                    6,
                    0.92,
                    "No hay excusa para que los más pequeños disfruten de una caída libre como la del Vuelo del Fénix. 
                    Sus 6 metros de altura son suficientes para causar una emoción insuperable en los niños. 
                    Además, no pueden pasar por esta atracción sin hacerse una foto aprovechando su diseño, 
                    que incluye lanzas y cascos que parecen haberse escapado de las cabezas de los pequeños guerreros",
                    "A15",
                    '03',
                    '032')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Rotundus",
                    "Infantil",
                    3,
                    "-",
                    0.92,
                    "Disfruta de las vistas a la plaza romana con esta noria infantil, ideal para toda la familia. 
                    Los vehículos con forma de pájaro elevarán suavemente a los niños por encima de la empalizada romana",
                    "A16",
                    '03',
                    '032')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Inferno",
                    "Emocionante",
                    14,
                    '-',
                    1.40,
                    "¿Te crees capaz de estar boca abajo, boca arriba, de lado, girar y sentir igual que una pelota volando a 60 km/h? 
                    ¿Eres así de lanzado? Tu te lo crees, pero nosotros no: ésta es tu oportunidad de demostrarlo. Menos hablar y más actuar...",
                    "A17",
                    '03',
                    '032')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("El vuelo del Fenix",
                    "Emocionante",
                    10,
                    54,
                    1.30,
                    "¿Estás preparado para experimentar una verdadera caída desde 54 metros de altura con una aceleración de 0.25g? 
                    en menos de 3 segundos, 100 km/h correrán por tus venas sin apenas poder respirar, 
                    lo que permite experimentar intensas sensaciones a los más osados. ¡Seguro que repites!",
                    "A18",
                    '03',
                    '032')''')

# Las islas '03'3
cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Mithos",
                    "Familiar",
                    3,
                    54,
                    0.92,
                    "Un brillante carrusel que llama la atención por el día gracias a los espejos que pasean su reflejo 
                    por todas partes cuando gira y, por la noche, las bombillas de colores se encienden para dar al entorno el ambiente 
                    más alegre de Iberia",
                    "A20",
                    '03',
                    '033')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("La colera de Aquiles",
                    "Emocionante",
                    14,
                    '-',
                    1.20,
                    "Te elevas hacia el cielo mientras te balanceas a un lado y a otro, mientras giras y te inclinas hasta 120 grados. 
                    Mientras intentas saber si estás arriba o abajo, mientras decides si vas hacia la izquierda o hacia la derecha... 
                    piénsatelo mientras decides si subes o no",
                    "A21",
                    '03',
                    '033')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Rapidos de Argos",
                    "Familiar",
                    0,
                    '-',
                    1.20,
                    "Cuando aprieta el calor en el Parque sienta de maravilla un recorrido en barca siguiendo la ruta marítima 
                    en busca del Vellocino de Oro. Los viajeros, montados en una nave circular con neumáticos que los hacen rebotar y 
                    girar por todo el curso del río, se ven zarandeados por la corriente",
                    "A22",
                    '03',
                    '033')''')

# Iberia ''03'4'
cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Arietes",
                    "Familiar",
                    6,
                    '-',
                    1.20,
                    "La ambientación de los autos de choque que la componen, con forma de cabras y jabalíes llaman la atención a pequeños y mayores. 
                    ¡Demuestra tu pericia al volante!",
                    "A23",
                    '03',
                    '034')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Jabato",
                    "Infantil",
                    4,
                    "-",
                    0.92,
                    "La hermana pequeña de los Arietes es una atracción de autos de choque pensada para niños",
                    "A24",
                    '03',
                    '034')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Tentaculus",
                    "Infantil",
                    0,
                    "-",
                    0.92,
                    "Unas antorchas de refinado diseño sirven de vehículo individual a los niños en una atracción presidida por un aguilucho vigilante. 
                    Suben, bajan y giran con un suave balanceo",
                    "A25",
                    '03',
                    '034')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Clepsidra",
                    "Infantil",
                    0,
                    "-",
                    0.92,
                    "Unas antorchas de refinado diseño sirven de vehículo individual a los niños en una atracción presidida por un aguilucho vigilante. 
                    Suben, bajan y giran con un suave balanceo",
                    "A26",
                    '03',
                    '034')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Synkopin",
                    "Infantil",
                    6,
                    "-",
                    1.10,
                    "El hermano pequeño de la vertiginosa atracción de Terra Mítica, Synkope, adaptada a los reyes de la casa",
                    "A28",
                    '03',
                    '034')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Anilus",
                    "Infantil",
                    0,
                    '-',
                    0.92,
                    "Los niños disfrutarán de una emocionante travesía en el barco infantil de Iberia",
                    "A29",
                    '03',
                    '034')''')

# Grecia '03'5
cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("El laberinto del minotauro",
                    "Familiar",
                    4,
                    "-",
                    1.10,
                    "¡Enfréntate a las mismas pruebas que Teseo y derrota al terrible Minotauro! Con la ayuda de las pistolas de luz láser, 
                    deberás derribar a las aterradoras criaturas que se esconden entre las paredes del laberinto. 
                    ¿Lograrás superar todos los obstáculos para enfrentarte cara a cara con el Minotauro?",
                    "A5",
                    '03',
                    '035')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Titanide",
                    "Emocionante",
                    14,
                    "-",
                    1.30,
                    "Una montaña rusa invertida que alcanza la velocidad de 100 kilómetros por hora entre espectaculares giros verticales y 
                    horizontales de 360º, y vertiginosos descensos desde 31 mts de altura",
                    "A6",
                    '03',
                    '035')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Templo de Kinetos",
                    "Familiar",
                    6,
                    "-",
                    1.10,
                    "Una gran escultura de Zeus preside el Templo de Kinetos. Adéntrate por sus pasadizos y descubre el cine 5D, 
                    una de nuestras novedades de este año. Un sistema exclusivo y vanguardista a través del cual experimentarás en primera persona 
                    sensaciones únicas jamás descritas y vivirás aventuras sin límite",
                    "A7",
                    '03',
                    '035')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Synkope",
                    "Emocionante",
                    10,
                    "-",
                    1.40,
                    "Imagina un disco girando a 90km/h a una altura de 35m. Imagínalo balanceándose hasta formar un ángulo de 120º sobre el suelo. 
                    Ahora, imagínate en él. No eres capaz, porque no hay nada parecido. Nada te ha preparado para una sensación semejante",
                    "A8",
                    '03',
                    '035')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("La furia de Triton",
                    "Emocionante",
                    6,
                    "-",
                    0.92,
                    "Sin duda, ésta es la atracción más buscada en los días calurosos. En su recorrido, reúne vértigo, mitología y dos refrescantes 
                    chapuzones (de 10,5 y 15 metros de altura) en una escenografía tomada de la literatura de aventuras marítimas que relataba los viajes 
                    de los antiguos cretenses y micénicos",
                    "A9",
                    '03',
                    '035')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Los Icaros",
                    "Familiar",
                    6,
                    "-",
                    1.20,
                    "Disfruta de las vistas del parque y las playas y rascacielos de Benidorm mientras flotas suavemente en el aire. 
                    Tres filas de columpios forman la más plácida de las atracciones del Parque, situada en un lugar privilegiado",
                    "A10",
                    '03',
                    '035')''')

cursor.execute('''INSERT OR IGNORE INTO Atracciones 
                   VALUES ("Alucinakis",
                    "Infantil",
                    5,
                    "-",
                    0.92,
                    "Con esta atracción, los más pequeños también pueden sentir lo que se siente al subir a una montaña rusa de madera, 
                    al más puro estilo Magnus Colossus. Los raíles y estructura reproducen los carriles que surcaban las minas romanas y el viaje 
                    incluye dos vueltas en las que podrán disfrutar tanto niños como mayores",
                    "A11",
                    '03',
                    '035')''')

In [16]:
conn.commit()
df = pd.read_sql_query('SELECT * FROM atracciones ', conn)
df

,Nombre,Tipo,Categoria_edad,Longitud_Atraccion,Altura_Minima,Descripcion,codigo_atraccion,codigo_parque,codigo_zona
0,Puerto de Alejandria,Familiar,2,Desconocido,0.92,Disfruta de las vistas desde las naves Seker y...,A1,03,31
1,Cataratas del Nilo,Emocionante,6,30.0,1.20,Deslízate por una montaña rusa de agua en los ...,A2,03,31
2,Akuatiti,Infantil,3,Desconocido,0.92,Los más pequeños también pueden disfrutar de u...,A3,03,31
3,Infinito,Familiar,6,100.0,0.92,Ofrece unas vistas privilegiadas de Terra Míti...,A4,03,31
4,Cataratas del Nilo,Emocionante,6,30.0,1.20,Deslízate por una montaña rusa de agua en los ...,A2,03,31
...,...,...,...,...,...,...,...,...,...
118,Templo de Kinetos,Familiar,6,-,1.10,Una gran escultura de Zeus preside el Templo d...,A7,03,35
119,Synkope,Emocionante,10,-,1.40,Imagina un disco girando a 90km/h a una altura...,A8,03,35
120,La furia de Triton,Emocionante,6,-,0.92,"Sin duda, ésta es la atracción más buscada en ...",A9,03,35
121,Los Icaros,Familiar,6,-,1.20,Disfruta de las vistas del parque y las playas...,A10,03,35
122,Alucinakis,Infantil,5,-,0.92,"Con esta atracción, los más pequeños también p...",A11,03,35

In [25]:
# ZONAS - TERRA MITICA 

# Egipto
cursor.execute('''INSERT OR IGNORE INTO Zonas 
                   VALUES ('031',
                    "Egipcia",
                    'Platos_Tipicos',
                    "El sueño de Egipto",
                    "La vida de la joven Samira está a punto de cambiar. ¿Se convertirán los sueños de esta muchacha en realidad? Un espectáculo multidisciplinar 
                    y de gran riqueza artística para poner el broche de oro a la jornada en Terra Mítica",
                    22,
                    'Afluencia_Media')''')

# Roma
cursor.execute('''INSERT OR IGNORE INTO Zonas 
                   VALUES ('032',
                    "Romano",
                    'Platos_Tipicos',
                    "Espartaco, honor y coraje",
                    "¿Quieres descubrir el origen del mito que hizo historia? Este espectáculo de gran formato, que tiene lugar en el Circus Máximus de Roma, 
                    relata la aventura del esclavo que se convirtió en leyenda. Acción, emoción y una puesta en escena única sin precedentes",
                    35,
                    'Afluencia_Media')''')

cursor.execute('''INSERT OR IGNORE INTO Zonas 
                   VALUES ('032',
                    "Romano",
                    'Platos_Tipicos',
                    "Escuela de legionarios",
                    "Máximo Augustus y Callo Bruto son dos intrépidos centuriones, aunque algo torpes. Sobre ellos recaerá la responsabilidad de formar al resto de la legión romana,
                    por petición del mismísimo Julio César",
                    15,
                    'Afluencia_Media')''')

# Las islas
cursor.execute('''INSERT OR IGNORE INTO Zonas 
                   VALUES ('033',
                    "Las islas",
                    'Platos_Tipicos',
                    "El caballo español",
                    "La pasión del elenco de bailaoras y la belleza del flamenco se unen a la elegancia equina. La doma de alta escuela se evidencia en cada movimiento 
                    de este increíble animal, que se ha convertido en todo un símbolo",
                    8,
                    'Afluencia_Media')''')

cursor.execute('''INSERT OR IGNORE INTO Zonas 
                   VALUES ('033',
                    "Las islas",
                    'Platos_Tipicos',
                    "Fantasia, un mundo de emociones",
                    "Superación, fuerza… ¡Renacer! La conmovedora historia de Fantasía hará soñar a pequeños y mayores. ¿Quieres descubrir lo que se esconde tras esta 
                    grácil marioneta que lucha por brillar? Las emociones, a flor de piel",
                    40,
                    'Afluencia_Media')''')

cursor.execute('''INSERT OR IGNORE INTO Zonas 
                   VALUES ('033',
                    "Las islas",
                    'Platos_Tipicos',
                    "El torneo",
                    "Y quien tampoco pasa de moda es el Caballero Negro con su fiel corcel Carbón, así como su andrajoso escudero. Ellos hacen realidad El Torneo, 
                    un divertido espectáculo que se ha convertido en todo un clásico de Terra Mítica",
                    20,
                    'Afluencia_Media')''')

# Iberia 
cursor.execute('''INSERT OR IGNORE INTO Zonas 
                   VALUES ('034',
                    "Ibera",
                    'Platos_Tipicos',
                    "Mitic dance",
                    "La canción que nunca pasa de moda cantada y bailada por los protagonistas de Terra Mítica: ¡Vosotros! ¿Os apuntáis a disfrutar de este show junto a Cuca, 
                    Mític y Babá? Recuerda que… “viajarás por Roma y por Egipto…”",
                    10,
                    'Afluencia_Media')''')

# Grecia
cursor.execute('''INSERT OR IGNORE INTO Zonas 
                   VALUES ('035',
                    "Griega",
                    'Platos_Tipicos',
                    "La magia de los dioses",
                    "El gran Zeus ha perdido su fuerza después de que Ares, dios del inframundo, se la haya arrebatado. Desolado, el padre del Olimpo encarga a su hijo 
                    Hermes la misión de recuperar su don divino",
                    20,
                    'Afluencia_Media')''')

cursor.execute('''INSERT OR IGNORE INTO Zonas 
                   VALUES ('035',
                    "Griega",
                    'Platos_Tipicos',
                    "El gran museo de las civilizaciones",
                    "¿Qué sucede cuando se cierran las puertas del museo? Uno de los trabajadores está a punto de descubrirlo. Julio César, Aristóteles y Tutankamon cobrarán 
                    vida para cantar sus historias e inquietudes. Un divertido musical para toda la familia",
                    20,
                    'Afluencia_Media')''')

OperationalError: table Zonas has 6 columns but 7 values were supplied

In [29]:
# ALOJAMIENTO - TERRA MITICA 
cursor.execute('''CREATE TABLE IF NOT EXISTS Alojamiento (
                    Nombre TEXT,
                    Precio REAL,
                    Categoria TEXT,
                    Servicios TEXT,
                    Ambientacion TEXT
                )''')

cursor.execute('''INSERT OR IGNORE INTO Alojamiento 
                   VALUES ("Grand Luxor hotel",
                    precio,
                    "4 estrellas",
                    "216 habitaciones para disfrutar en familia de una estancia inolvidable",
                    "Ambientacion")''')

cursor.execute('''INSERT OR IGNORE INTO Alojamiento 
                   VALUES ("Grand Luxor village",
                    precio,
                    "Categorias",
                    "102 villas tematizadas equipadas para disfrutar de tu estancia en familia, encuentra la que más te guste eligiendo entre 
                    sus cuatro categorías",
                    "Ambientacion")''')

OperationalError: no such column: precio