In [2]:
import sqlite3
import pandas as pd

In [3]:
conn = sqlite3.connect('mi_base_de_datos.sqlite')

cursor = conn.cursor()

In [12]:


cursor.execute('''CREATE TABLE IF NOT EXISTS Parque_atracciones (
                    Nombre TEXT,
                    Direccion TEXT,
                    Ciudad TEXT,
                    Provincia TEXT,
                    Aforo INTEGER,
                    Codigo TEXT PRIMARY KEY
                )''')


# Crear la tabla Atracciones
# Eliminar la tabla existente si existe
cursor.execute('''DROP TABLE IF EXISTS Atracciones''')

cursor.execute('''CREATE TABLE IF NOT EXISTS Atracciones (
                    Nombre TEXT,
                    Tipo TEXT,
                    Categoria_edad INTEGER,
                    Longitud_Atraccion REAL,
                    Altura_Minima FLOAT,
                    Descripcion TEXT,  
                    codigo_atraccion TEXT,
                    codigo_parque INTEGER,
                    codigo_zona INTEGER )               
                ''')

cursor.execute('''DROP TABLE IF EXISTS Zonas''')


cursor.execute('''CREATE TABLE IF NOT EXISTS Zonas (
                    Codigo_Zona TEXT PRIMARY KEY,
                    Ambientacion TEXT,
                    Platos_Tipicos TEXT,
                    Espectaculos TEXT,
                    Descripcion,
                    Horario TEXT,
                    Afluencia_Media INTEGER
                )''')

# Codigo_Zona	Ambientacion	Platos_Tipicos	Espectaculos	Horario	 Afluencia_Media


cursor.execute('''CREATE TABLE IF NOT EXISTS Alojamiento (
                    Nombre TEXT,
                    Precio REAL,
                    Categoria TEXT,
                    Servicios TEXT,
                    Ambientacion TEXT
                )''')

# Guardar los cambios y cerrar la conexión
#conn.commit()
#conn.close()
#cursor.close()

In [17]:
conn.commit()
df = pd.read_sql_query('SELECT * FROM zonas ', conn)
df

,Codigo_Zona,Ambientacion,Platos_Tipicos,Espectaculos,Descripcion,Horario,Afluencia_Media
0,031,Egipcia,Platos_Tipicos,El sueño de Egipto,La vida de la joven Samira está a punto de cam...,22,Afluencia_Media
1,032,Romano,Platos_Tipicos,"Espartaco, honor y coraje",¿Quieres descubrir el origen del mito que hizo...,35,Afluencia_Media
2,033,Las islas,Platos_Tipicos,El caballo español,La pasión del elenco de bailaoras y la belleza...,8,Afluencia_Media
3,034,Ibera,Platos_Tipicos,Mitic dance,La canción que nunca pasa de moda cantada y ba...,10,Afluencia_Media
4,035,Griega,Platos_Tipicos,La magia de los dioses,El gran Zeus ha perdido su fuerza después de q...,20,Afluencia_Media