In [ ]:
import sqlite3
import pandas as pd

In [ ]:
conn = sqlite3.connect('mi_base_de_datos.sqlite')

cursor = conn.cursor()

In [ ]:




cursor.execute('''CREATE TABLE IF NOT EXISTS Parque_atracciones (
                    Nombre TEXT,
                    Direccion TEXT,
                    Ciudad TEXT,
                    Provincia TEXT,
                    Aforo INTEGER,
                    Codigo TEXT PRIMARY KEY
                )''')


# Crear la tabla Atracciones
# Eliminar la tabla existente si existe
cursor.execute('''DROP TABLE IF EXISTS Atracciones''')

cursor.execute('''CREATE TABLE IF NOT EXISTS Atracciones (
                    Nombre TEXT,
                    Tipo TEXT,
                    Duracion INT,
                    Categoria_edad TEXT,
                    Longitud_Atraccion REAL,
                    Altura_Minima INTEGER,
                    Descripcion TEXT,  
                    codigo_atraccion TEXT,
                    codigo_parque TEXT)
                                        
                ''')



cursor.execute('''CREATE TABLE IF NOT EXISTS Zonas (
                    Codigo_Zona TEXT PRIMARY KEY,
                    Ambientacion TEXT,
                    Platos_Tipicos TEXT,
                    Espectaculos TEXT,
                    Descripcion
                    Horario TEXT,
                    Afluencia_Media INTEGER
                )''')


cursor.execute('''CREATE TABLE IF NOT EXISTS Alojamiento (
                    Nombre TEXT,
                    Precio REAL,
                    Categoria TEXT,
                    Servicios TEXT,
                    Ambientacion TEXT
                )''')

# Guardar los cambios y cerrar la conexi√≥n
#conn.commit()
#conn.close()
#cursor.close()