In [1]:
import sqlite3
import pandas as pd

In [6]:

conn = sqlite3.connect('mi_base_de_datos.sqlite')

cursor = conn.cursor()


cursor.execute('''CREATE TABLE IF NOT EXISTS Parque_atracciones (
                    Nombre TEXT,
                    Direccion TEXT,
                    Ciudad TEXT,
                    Provincia TEXT,
                    Aforo INTEGER,
                    Codigo TEXT PRIMARY KEY
                )''')


cursor.execute('''INSERT OR IGNORE INTO Parque_atracciones 
                  VALUES ('Port Aventura', 'Calle', 'Salou', 'Tarragona', 51000, '01')''')

# Crear la tabla Atracciones
cursor.execute('''CREATE TABLE IF NOT EXISTS Atracciones (
                    Nombre TEXT,
                    Tipo TEXT,
                    Duracion INTEGER,
                    Categoria_edad TEXT,
                    Longitud_Atraccion REAL,
                    Altura_Minima INTEGER,
                    codigo_atraccion TEXT PRIMARY KEY,
                    codigo_parque TEXT,
                    FOREIGN KEY (codigo_parque) REFERENCES Parque_atracciones(Codigo)
                )''')


cursor.execute('''CREATE TABLE IF NOT EXISTS Zonas (
                    Codigo_Zona TEXT PRIMARY KEY,
                    Ambientacion TEXT,
                    Platos_Tipicos TEXT,
                    Espectaculos TEXT,
                    Horario TEXT,
                    Afluencia_Media INTEGER
                )''')


cursor.execute('''CREATE TABLE IF NOT EXISTS Alojamiento (
                    Nombre TEXT,
                    Precio REAL,
                    Categoria TEXT,
                    Servicios TEXT,
                    Ambientacion TEXT
                )''')

# Guardar los cambios y cerrar la conexi√≥n
#conn.commit()
#conn.close()
#cursor.close()

In [3]:
cursor.execute('''INSERT OR IGNORE INTO Parque_atracciones 
                  VALUES ('Port Aventura', 'Calle', 'Salou', 'Tarragona', 51000, '01')''')
cursor.execute('''INSERT OR IGNORE INTO Parque_atracciones 
                  VALUES ('parque2', 'Calle2', 'caspe', 'zaragoza', 5112312, '12312')''')

conn.commit()

In [7]:

df = pd.read_sql_query('SELECT * FROM Parque_atracciones', conn)

print(df)

          Nombre Direccion Ciudad  Provincia    Aforo Codigo
0  Port Aventura     Calle  Salou  Tarragona    51000     01
1        parque2    Calle2  caspe   zaragoza  5112312  12312

In [5]:
conn.close()