In [58]:
import sqlite3
import pandas as pd

In [59]:
conn = sqlite3.connect('mi_base_de_datos.sqlite')

cursor = conn.cursor()

In [60]:
cursor.execute('''DROP TABLE IF EXISTS Parque_atracciones''')

cursor.execute('''CREATE TABLE IF NOT EXISTS Parque_atracciones (
                    Nombre TEXT,
                    Direccion TEXT,
                    Ciudad TEXT,
                    Provincia TEXT,
                    Aforo INTEGER,
                    Codigo TEXT PRIMARY KEY
                )''')

In [61]:

# Crear la tabla Atracciones
# Eliminar la tabla existente si existe
cursor.execute('''DROP TABLE IF EXISTS Atracciones''')

cursor.execute('''CREATE TABLE IF NOT EXISTS Atracciones (
                    Nombre TEXT,
                    Tipo TEXT,
                    Categoria_edad INTEGER,
                    Altura_Minima FLOAT,
                    Descripcion TEXT,  
                    codigo_atraccion TEXT,
                    codigo_parque TEXT,
                    codigo_zona TEXT )               
                ''')

cursor.execute('''DROP TABLE IF EXISTS Zonas''')


cursor.execute('''CREATE TABLE IF NOT EXISTS Zonas (
                    Codigo_Zona TEXT PRIMARY KEY,
                    Ambientacion TEXT,
                    Espectaculos TEXT,
                    Descripcion,
                    Horario TEXT
                )''')

# Codigo_Zona	Ambientacion	Platos_Tipicos	Espectaculos	Horario	 Afluencia_Media


cursor.execute('''DROP TABLE IF EXISTS Alojamiento''')

cursor.execute('''CREATE TABLE IF NOT EXISTS Alojamiento (
                    Nombre TEXT,
                    Precio REAL,
                    Categoria TEXT,
                    Servicios TEXT,
                    Ambientacion TEXT,
                    codigo_parque TEXT
                )''')

# Guardar los cambios y cerrar la conexi√≥n
#conn.commit()
#conn.close()
#cursor.close()

In [62]:
conn.commit()
conn.close()